<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MEBOARD</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

</head>

<body>
    <!-- 네비게이션 -->
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a th:href="@{/}" class="brand-logo center">MEBOARD</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a th:href="@{/}">홈</a></li>
              <li><a href="#마이페이지">마이페이지</a></li>
              <li><a th:href="@{/user/register}">회원가입</a></li>
              <li>
                <a sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
                <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
              </li>

            </ul>
          </div>
          <div class="nav-content">
            <ul class="tabs tabs-transparent">
              <li class="tab"><a href="#카테고리1">카테고리1</a></li>
              <li class="tab"><a href="#카테고리2">카테고리2</a></li>
              <li class="tab"><a href="#카테고리3">카테고리3</a></li>
              <li class="tab"><a href="#카테고리4">카테고리4</a></li>
            </ul>
          </div>
        </nav>
      
        <ul class="sidenav" id="mobile-demo">
          <li><a th:href="@{/}">홈</a></li>
          <li><a href="#마이페이지">마이페이지</a></li>
          <li>
            <a sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
          </li>
          <li><a th:href="@{/user/register}">회원가입</a></li>
        </ul>
    </nav>

    <!-- 기본 템플릿 안에 삽입될 내용 시작 -->
    <th:block layout:fragment="content"></th:block>
    <!-- 기본 템플릿 안에 삽입될 내용 종료 -->

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Initialize Materialize Components -->
    <script>
      $(document).ready(function(){
          $('.sidenav').sidenav();
      });
    </script>
            
</body>
</html>