<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MEBOARD</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

</head>

<body>
    <!-- 네비게이션 -->
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a th:href="@{/}" class="brand-logo center">MEBOARD</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a th:href="@{/}">홈</a></li>
              <li><a th:href="@{/mypage}">마이페이지</a></li> <!-- 마이페이지 링크에 이벤트를 추가 -->
              <li><a th:href="@{/register}">회원가입</a></li>
              <li>
                <a sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
                <a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
              </li>

            </ul>
          </div>

          <!-- 하위 카테고리 탭 (기본적으로 숨김 처리) -->
          <div class="nav-content" id="category-tabs" style="display: none;">
            <ul class="tabs tabs-transparent">
              <li class="tab"><a th:href="@{/mypage}">내 정보</a></li>
              <li class="tab"><a th:href="@{/mylog}">나의 활동</a></li>
            </ul>
          </div>
        </nav>
      
        <!-- 모바일 사이드 네비게이션 -->
        <ul class="sidenav" id="mobile-demo">
          <li><a th:href="@{/}">홈</a></li>
          <li><a th:href="@{/mypage}">마이페이지</a></li> <!-- 마이페이지 링크에 이벤트를 추가 -->
          <li>
            <a sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
          </li>
          <li><a th:href="@{/register}">회원가입</a></li>
        </ul>
    </nav>

    <!-- 기본 템플릿 안에 삽입될 내용 시작 -->
    <th:block layout:fragment="content"></th:block>
    <!-- 기본 템플릿 안에 삽입될 내용 종료 -->

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Initialize Materialize Components -->
    <script>
      $(document).ready(function(){
        $('.sidenav').sidenav();
        
        // 페이지 경로에 따라 카테고리 탭 보이기/숨기기
        const currentPage = window.location.pathname;

        if (currentPage === '/mypage' || currentPage === '/mylog') {
            document.getElementById('category-tabs').style.display = 'block';
        } else {
            document.getElementById('category-tabs').style.display = 'none';
        }
      });
    </script>
</body>
</html>