<html layout:decorate="~{layout}">
    <div layout:fragment="content" class="rootContainer">
        <div class="mainContainer">
            <form method="post" th:action="@{/post/write}">
                <div>
                    <label for="title">제목</label>
                    <input type="text" id="title" name="title" />
                </div>
                <div>
                    <label for="content">내용</label>
                    <textarea id="content" name="content"></textarea>
                </div>
                <button type="submit">글쓰기</button>
            </form>
        </div>
    </div>    
</html>